[buildout]
parts = python
        django
	pydev
eggs =  project	
	ipython
	django
	nose
	django_nose
	coverage
	django_debug_toolbar
	adspygoogle.adwords
	fpconst
	PyXML
develop = .
project_name = project
versions = versions


[versions]
django = 1.4


[python]
recipe 			= zc.recipe.egg
interpreter 		= python
eggs 			= ${buildout:eggs}
scripts			= ipython nosetests
initialization 		= import os
			  os.environ['DJANGO_SETTINGS_MODULE'] = '${buildout:project_name}.${django:settings}'


[django]
recipe                  = djangorecipe
project                 = ${buildout:project_name}
projectegg              = ${buildout:project_name}
settings                = settings
wsgi                    = true
eggs                    = ${buildout:eggs}


[pydev]
recipe                  = pb.recipes.pydev
pydevproject_path       = ${buildout:directory}/src/.pydevproject
eggs                    = ${buildout:eggs}

